#mainView {
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
}

#container {
    margin: 5em 15em;
}

#mainElement {
    background-color: gray;
}

#upBut, #downBut {
    display: block;
    margin: 0 auto;
}

#control{
    float: right;
}

button {
    font-size: 2em;
}

